<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>登录</title>
<script type="text/javascript" src="/static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/static/js/login.js"></script>


</head>
<body>

<table>
	<tr>
		<td></td>
		<td><h3>请登陆用户名</h3></td>
		<td></td>
	</tr>
	<tr>
		<td>用户名：</td>
		<td><input type="text" name="username" /></td>
		<td></td>
	</tr>
	<tr>
		<td>密&nbsp;码：</td>
		<td><input type="password" name="password" /></td>
		<td></td>
	</tr>


	<tr>
		<td></td>
		<td><input type="button" id="login" value="登陆"/><input type="button" name="register" value="注册"/></td>
		<td></td>
	</tr>

</table>

</body>
</html>
